    <div class="border border-danger p-4 mb-5 authenticated-display">
        <div class="alert alert-danger" role="alert">[AUTHENTICATED] This section is dynamic and will need to be moved behind an authentication check.</div>
        <!-- BEGIN Home (Authenticated) include -->
        <%= yield %>
        <!-- END Home (Authenticated) include -->
    </div>
