<!-- BEGIN Home (Anonymous) include -->
<div class="p-4">
  <!-- BEGIN Become a Hound include -->
  <h3>Become a Hound</h3>
  <p>Click <em>Create an Account</em> below to sign up and become a <em>Booze Hound</em>.</p>
  <p>If you're already a member, sign in below.</p>
  <ul class="nav list-group">
    <li class="list-group-item"><i class="fa-solid fa-user-plus me-2" style="width: 20px;"></i><%= link_to "Create an Account", new_user_session_path, class: "nav-link d-inline" %></li>
    <li class="list-group-item"><i class="fa-solid fa-right-to-bracket me-2" style="width: 20px"></i><%= link_to "Sign In", new_user_session_path, class: "nav-link d-inline" %></li>
  </ul>
  <!-- END Become a Hound include -->
</div>
<div class="p-4">
  <div class="row">
    <div class="col-lg-8">
      <h2>What is Booze Hound?</h2>
      <p>Are you an Oregonian who has used the Oregon Liquor &amp; Cannabis Commission's (OLCC) <em>Oregon Liquor Search</em> site but you've been frustrated with the experience? Welcome to <em>Booze Hound!</em></p>
      <p><em>Booze Hound</em> is an improved user experience for Oregonians who use the Oregon Liquor &amp; Cannabis Commission's (OLCC) <em>Oregon Liquor Search</em> site.</p>
    </div>
    <div class="col-lg-4">
      <p class="placeholder-wave">
        <span class="placeholder"><img src="" width="266px" height="200px" title="TBD: screenshot" /></span>
      </p>
    </div>
  </div>
  <p>The additional functionality and improved user interface of Booze Hound allows users to:</p>
  <ul class="list-group list-group-flush mb-5">
    <li class="list-group-item"><i class="bi bi-plus-circle-fill me-3 text-primary" style="width: 20px;"></i>Create an account for a customized experience</li>
    <li class="list-group-item"><i class="bi bi-plus-circle-fill me-3 text-primary" style="width: 20px;"></i>Follow one or more stores for updates to stock</li>
    <li class="list-group-item"><i class="bi bi-plus-circle-fill me-3 text-primary" style="width: 20px;"></i>Follow one or more categories of liquor for updates to stock</li>
    <li class="list-group-item fst-italic"><i class="bi bi-plus-circle-fill me-3 text-primary" style="width: 20px;"></i>...and more!</li>
  </ul>
  <h3>Feature Comparison</h3>
  <table class="table table-striped table-hover align-top mb-5 table-feature-comparison">
    <thead>
      <tr>
        <th scope="col" class="">Feature</th>
        <th scope="col" class="fs-5 text-center">Booze Hound</th>
        <th scope="col" class="text-secondary fw-normal fs-5 text-center">Oregon Liquor Search</th>
      </tr>
    </thead>
    <tbody class="table-striped table-group-divider align-middle">
      <tr>
        <td class="fst-italic">Personalized settings that persist between sessions</td>
        <td class="text-center"><span class="badge rounded-pill text-bg-success p-1 fs-5"><i class="bi bi-check-circle-fill"></i></span></td>
        <td class="text-center"><span class="badge rounded-pill text-bg-danger p-1 fs-5"><i class="bi bi-x-circle-fill"></i></span></td>
      </tr>
      <tr>
        <td class="fst-italic">Follow stores for inventory updates</td>
        <td class="text-center"><span class="badge rounded-pill text-bg-success p-1 fs-5"><i class="bi bi-check-circle-fill"></i></span></td>
        <td class="text-center"><span class="badge rounded-pill text-bg-danger p-1 fs-5"><i class="bi bi-x-circle-fill"></i></span></td>
      </tr>
      <tr>
        <td class="fst-italic">Follow liquor categories for product updates</td>
        <td class="text-center"><span class="badge rounded-pill text-bg-success p-1 fs-5"><i class="bi bi-check-circle-fill"></i></span></td>
        <td class="text-center"><span class="badge rounded-pill text-bg-danger p-1 fs-5"><i class="bi bi-x-circle-fill"></i></span></td>
      </tr>
      <tr>
        <td class="fst-italic">Follow individual products for availability updates</td>
        <td class="text-center"><span class="badge rounded-pill text-bg-success p-1 fs-5"><i class="bi bi-check-circle-fill"></i></span></td>
        <td class="text-center"><span class="badge rounded-pill text-bg-danger p-1 fs-5"><i class="bi bi-x-circle-fill"></i></span></td>
      </tr>
      <tr>
        <td class="fst-italic">Responsive, mobile-first user interface</td>
        <td class="text-center"><span class="badge rounded-pill text-bg-success p-1 fs-5"><i class="bi bi-check-circle-fill"></i></span></td>
        <td class="text-center"><span class="badge rounded-pill text-bg-danger p-1 fs-5"><i class="bi bi-x-circle-fill"></i></span></td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-primary fst-italic" role="alert">
    <p class="m-0 p-0">Create a <em>Booze Hound</em> account today or sign in to begin sniffing out your favorite spirits!</p>
  </div>
</div>
<!-- END Home (Anonymous) include -->
