<!-- BEGIN User Index include -->
<div class="mb-5">
  <div class="mb-5">
    <h2>Index page for user profiles</h2>
    <p>Static listing of users. This content to be replaced and protected behind authentication.</p>
    <ul>
      <li><a href="/user/1">Charles Anderson</a></li>
    </ul>
</div>
<!-- END User Index include -->
