<!-- BEGIN User Index include -->
<div class="border border-danger p-4 mb-5 authenticated-display">
    <div class="mb-5">
        <h2>User Page for <%= @user.first_name %></h2>
    </div>
</div>
<!-- END User Index include -->
