<div class="row">
    <div class="colmb-5">
      <!-- BEGIN Main Body Content include -->
      <%#= // TODO: Replace the if true check below with the helper function for user auth check %>
      <% if true %>
        <%= render 'layouts/content/home_authenticated' %>
      <% else %>
        <%= render 'layouts/content/home_anonymous' %>
      <% end %>
      <!-- END Main Body Content include -->
    </div>
</div>
