<div class="row">
  <div class="col-lg-4 order-lg-2">
    <%= render 'layouts/sidebar/user_menu_authenticated' %>
  </div>
  <div class="col-lg-8 order-lg-1">
    <!-- BEGIN User Body Content include -->
    <%= render 'layouts/content/user_index' %>
    <!-- END User Body Content include -->
  </div>
</div>
