<%= stylesheet_link_tag "tables" %>

<h1>List of OLCC Stores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Store Hours</th>
    </tr>
  </thead>
  <tbody>
    <% @olcc_stores.each_with_index do |store, index| %>
      <tr class="<%= index.even? ? 'even-row' : 'odd-row' %>">
        <td><%= link_to store.name, store %></td>
        <td><%= store.store_hours %></td>
      </tr>
    <% end %>
  </tbody>
</table>
