<%= stylesheet_link_tag "tables" %>

<h1>List of My Bottles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @olcc_bottles.each_with_index do |bottle, index| %>
      <tr class="<%= index.even? ? 'even-row' : 'odd-row' %>">
        <td><%= link_to bottle.name, bottle %></td>
        <td><%= bottle.bottle_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
