<div class="row">
    <div class="col-lg-8 mb-5">
      <!-- BEGIN Main Body Content include -->
      <%= render 'layouts/content/bottles_show' %>
      <!-- END Main Body Content include -->
    </div>
    <div class="col-lg-4 mb-4">
      <%= render 'layouts/sidebar/user_menu_authenticated' %>
    </div>
</div>
