/* BEGIN Home (anonymous) styling */
.table-feature-comparison td {
    padding-top: 2em;
    padding-bottom: 2em;
}
/* END Home (anonymous) styling */

/* BEGIN User Profile styling */
#change-password-toggle[aria-expanded=false] .block-expanded {
  display: none;
}
#change-password-toggle[aria-expanded=true] .block-collapsed {
  display: none;
}
/* END User Profile styling */