    <!-- BEGIN Head include -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <title>Booze Hound</title>
    <!-- BEGIN Bootstrap CSS include -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- END Bootstrap CSS include -->
    <!-- BEGIN Bootstrap Icons CSS include -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- END Bootstrap Icons CSS include -->
    <!-- BEGIN Booze Hound CSS include -->
    <!-- <link rel="stylesheet" href="styles/styles.css"> -->
    <!-- END Booze Hound CSS include -->
    <!-- END Head include -->
