    <!-- BEGIN Header include -->
    <header class="my-4">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="me-5">
                    <a class="navbar-brand mb-2 mb-lg-0 text-decoration-none fs-1" href="/"><i class="fa-solid fa-dog"></i><i class="fa-solid fa-martini-glass fs-4 me-3"></i>Booze Hound</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 me-3 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/find">Find</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/browse" role="button" data-bs-toggle="dropdown" aria-expanded="false">Browse</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/stores"><i class="fa-solid fa-shop me-2" style="width: 20px;"></i>Stores</a></li>
                                <li><a class="dropdown-item" href="/bottles"><i class="fa-solid fa-bottle-droplet me-2" style="width: 20px;"></i>Bottles</a></li>
                                <!--<li><a class="dropdown-item" href="/brands">Brands</a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/user" role="button" data-bs-toggle="dropdown" aria-expanded="false">User</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/user"><i class="fa-solid fa-user me-2" style="width: 20px;"></i>Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/user/create"><i class="fa-solid fa-user-plus me-2 text-danger" style="width: 20px;"></i>Create an Account<i class="bi bi-unlock-fill ms-2"></i></a></li>
                                <li><a class="dropdown-item" href="/user/sign-in"><i class="fa-solid fa-right-to-bracket me-2 text-danger" style="width: 20px"></i>Sign In<i class="bi bi-unlock-fill ms-2"></i></a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/about" role="button" data-bs-toggle="dropdown" aria-expanded="false">About</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/about/help"><i class="fa-solid fa-question me-2" style="width: 20px"></i>Help</a></li>
                                <li><a class="dropdown-item" href="/about/updates"><i class="fa-solid fa-newspaper me-2" style="width: 20px"></i>Updates</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- END Header include -->
