    <!-- BEGIN Header include -->
    <header class="my-4">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="me-5">
                    <a class="navbar-brand mb-2 mb-lg-0 text-decoration-none fs-1" href="#"><i class="fa-solid fa-dog"></i><i class="fa-solid fa-martini-glass fs-4 me-3"></i>Booze Hound</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 me-3 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="find">Find</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="browse" role="button" data-bs-toggle="dropdown" aria-expanded="false">Browse</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="stores">Stores</a></li>
                                <li><a class="dropdown-item" href="bottles">Bottles</a></li>
                                <!--<li><a class="dropdown-item" href="brands">Brands</a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="about" role="button" data-bs-toggle="dropdown" aria-expanded="false">About</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="about/help">Help</a></li>
                                <li><a class="dropdown-item" href="about/updates">Updates</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- END Header include -->
