<!-- BEGIN Home Anonymous include -->
<div class="mb-5">
  <h3>Home - Anonymous Sidebar</h3>
  <ul>
    <li>Anonymous</li>
    <li>Content</li>
    <li>Goes</li>
    <li>Here</li>
  </ul>
</div>
<!-- END Home Anonymous include -->
