    <div class="border border-danger p-4 mb-5 authenticated-display">
        <!-- BEGIN My Links include -->
        <h3>My Links</h3>
        <ul class="nav list-group">
            <li class="list-group-item nav-item"><i class="fa-solid fa-shop" style="width: 20px;"></i><a href="/olcc_bottles" class="nav-link d-inline">Favorite Bottles</a></li>
            <li class="list-group-item"><i class="fa-solid fa-whiskey-glass" style="padding: 0 2px 0 2px; width: 20px;"></i><a href="/olcc_stores" class="nav-link d-inline">Favorite Stores</a></li>
            <!--<li class="list-group-item"><i class="fa-solid fa-warehouse me-2"></i><a href="/olcc_brands" class="nav-link d-inline">Favorite Brands</a></li>-->
        </ul>
        <!-- END My Links include -->
    </div>
